* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
}

.logo {
    width: 10%;
}

#play-btn {
    border: 1px solid grey;
    padding: 3px 45px;
    border-radius: 5px;
}

body {
    background-color: #7FFFD4;
}

#grid {
    width: 1000px;
    flex-wrap: wrap;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #7FFFD4;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #fff;
}
