* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
}

.logo {
    width: 10%;
}

#generate-button {
    border: 1px solid grey;
    padding: 3px 45px;
    border-radius: 5px;
    cursor: pointer;
}

body {
    background-color: #7FFFD4;
}

main {
    height: 1000px;
}

#grid {
    width: 1000px;
    flex-wrap: wrap;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #7FFFD4;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    background-color: #fff;
}

.square span {
    opacity: 0;
}

.square.clicked span {
    opacity: 1;
}

footer {
    height: 80px;
    background-color: #fff;
}
